body {
    margin-left: 20px;
}

.chat {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 16px;
}

.msg {
    background-color: aqua;
    padding: 5px 14px;
    border-radius: 16px;
}